doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Password generator
    
    link(rel="stylesheet" href="styles/main.css")
    link(rel="stylesheet" href="styles/general.css")
    //- link(rel="stylesheet" href="styles/general.css")
    link(href="styles/style.css" rel="stylesheet" type="text/css")
    link(rel="icon" href="img/logo.png")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;800&family=Lato:ital,wght@0,400;0,700;1,400&family=Nunito:wght@400;500&family=Source+Code+Pro:ital,wght@0,500;0,600;0,700;0,800;0,900;1,600;1,800&family=VT323&display=swap" rel="stylesheet">
  body
    include _header.pug
    block content
    include _footer.pug
    script(src="scripts/script.js" type='module')
    script(src="scripts/login.js" type="module")
    script(src="scripts/register.js" type="module")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js")
