doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Password generator
    
    link(rel="stylesheet" href="styles/main.css")
    link(rel="stylesheet" href="styles/general.css")
    //- link(rel="stylesheet" href="styles/general.css")
    link(href="styles/style.css" rel="stylesheet" type="text/css")
    link(rel="icon" href="https://cdn-icons-png.flaticon.com/512/906/906334.png")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet")
  body
    include _header.pug
    block content
    include _footer.pug
    script(src="scripts/script.js")
    script(src="scripts/login.js" type="module")
    script(src="scripts/register.js" type="module")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js")
