mixin password-generator 
  section.section-generator#generator
      .container.generator-container
        .qna
          p.primary-heading.generator-heading Select the type of Password you want to Generate...
          .options.heading-tertiary
            label(for="1")
              input(type="radio" name="option" value="ssp" id="1")
              | Super Strong Password
            label(for="2")
              input(type="radio" name="option" value="p" id="2")
              | Strong Password
            label(for="3")
              input(type="radio" name="option" value="wp" id="3")
              | Weak Password
              br
          button.btn(type="submit" id="optionsubmit" ) submit
        .output
          span#alert