/* **************************** */
/* nav-bar */
/* **************************** */
.main-nav {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  margin: 0 4.8rem;
  border-bottom: 2px solid #999;
  height: 7.8rem;
  margin-bottom: 5rem;
}
.logo-block {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-weight: 600;
}
.logo {
  height: 4.8rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  display: inline-block;
  font-weight: 500;
}

/* **************************** */
/* hero-section */
/* **************************** */
.section-hero {
}
.thumbnail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* flex-grow: 0;
  flex-shrink: 1; */
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  /* margin-bottom: 5.6rem; */
}
.thumbnail-img {
  height: 60rem;
}

.btn-hero {
  background-color: black;
  color: white;
  border-radius: 20px;
  font-size: 3.2rem;
  padding: 1.6rem 3.2rem;
  margin-bottom: 20rem;
}
/* **************************** */
/* main password generator section */
/* **************************** */
.section-generator {
  padding: 4.8rem 2.4rem;
  margin-bottom: 25rem;
}
.qna {
  text-align: center;
  margin-bottom: 5.6rem;
}
.options {
  margin-bottom: 3.6rem;
}
.options label {
  cursor: pointer;
  margin-right: 1.6rem;
}
.options label input {
  cursor: pointer;
  accent-color: #40c057;
  /* height: 12rem; */
}
input[type="radio"] {
  border: 0px;
  width: 2%;
  height: 2em;
  margin-right: 1rem;
}
#optionsubmit {
  background-color: black;
  color: white;
  font-size: 2.4rem;
  border: none;
  text-transform: uppercase;
}
.output {
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gen-pass {
  margin-bottom: 1.4rem;
  align-items: center;
  justify-self: center;
}
.gen {
  font-weight: 400;
  background-color: #fcf5c7;
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  margin-bottom: 1.2rem;
}
.copy-button {
  font-size: 2.4rem;
  text-align: center;
}
/* **************************** */
/* footer */
/* **************************** */
.copyright {
  font-size: 1.6rem;
  color: #444;
  text-align: center;
}

/* **************************** */
/* Connect with Us */
/* **************************** */
.connect-section {
  margin-bottom: 10rem;
}
.socials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.9rem;
}
.sicon {
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* display: inline-block; */
}
li {
  list-style: none;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* width: 18px; */
}
.sicon {
  text-decoration: none;
  font-size: 2.2rem;
  color: black;
}
.sicon img {
  height: 8rem;
}

/* //////////////////////////// */
.user-action {
  display: inline;
  position: relative;
  right: -160rem;
}
.button {
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  margin-right: 0.8rem;
}
/* ///////////////////////////////////////////// */
/* register user css */
/* ///////////////////////////////////////////// */
.body-container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}

.registration-container {
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.registration-input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registration-button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.registration-button:hover {
  background-color: #45a049;
}
